.login-error {
    color:red;
}
.valid-img {
    height:35px;
    width:220px;
}

#avatar-img {
    width:80px;
    height:80px;
}
.author-img {
    width:80px;
    height:80px;
}
.login-form {
    margin-top: 70px;
}
.reg-form {
    margin-top: 70px;
}
.article-footer span {
    margin-right: 15px;
}
.article-footer {
    margin-top: 10px;
}